
.btn-form {
    width: 15ch !important;
    margin: 1rem 1rem 1rem !important;
}

.content-form {
    margin: 0.2rem !important;
    width: 25ch;
}

.form-create {
    display: flex;
    justify-content: center;
}